.about-us {
  padding-top: 30px;

  &::before {
    content: "";
    display: block;
    margin: 0  auto;
    background-image: url("../img/mobail-decor.svg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 320px;
    height: 6px;
    left: 0;
    top: 915px;
  }

  @media (min-width: 768px) {
    padding-bottom: 90px;

    &::before {
      content: "";
      display: block;
      margin: 0 auto;
      background-image: url("../img/line-table.svg");
      background-repeat: repeat-x;
      background-size: auto;
      width: 100%;
      height: 17px;
      left: 0;
      top: 915px;
    }
  }
}

.about-us__wrapper {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    padding-left: 85px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about-us__item {
  width: 260px;
}

.about-us__subtitle--icon-flower {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 33px;
    height: 38px;
    display: block;
    background-image: url("../img/about-us/icon-flower.svg");
    background-repeat: no-repeat;
  }
}

.about-us__subtitle--icon-banknote {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 47px;
    height: 27px;
    display: block;
    background-image: url("../img/about-us/icon-banknote.svg");
    background-repeat: no-repeat;
  }
}

.about-us__subtitle--icon-heart {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 34px;
    height: 27px;
    display: block;
    background-image: url("../img/about-us/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.about-us__subtitle--icon-ball {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 35px;
    height: 34px;
    display: block;
    background-image: url("../img/about-us/icon-ball.svg");
    background-repeat: no-repeat;
  }
}

.about-us__subtitle--icon-rocket {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 55px;
    height: 23px;
    display: block;
    background-image: url("../img/about-us/icon-rocket.svg");
    background-repeat: no-repeat;
  }
}

.about-us__subtitle--icon-gift {
  &::before {
    padding-bottom: 26px;
    content: "";
    width: 33px;
    height: 32px;
    display: block;
    background-image: url("../img/about-us/icon-gift.svg");
    background-repeat: no-repeat;
  }
}
