.button {
  border: none;
  outline: none;
  background-color: $button-bg-color;
  border: 2px solid $button-color;
  width: 260px;
  height: 52px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
