.demonstration {
  margin: 0;
  padding-top: 0;
  padding-bottom: 59px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: 768px) {
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 106px;
  }
}

.demonstration__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $background-basic-color;
  mix-blend-mode: normal;
  border: 1px solid #ececec;
  box-sizing: border-box;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    width: 668px;
    height: 743px;
    padding-bottom: 0;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    height: 100%;
    padding-bottom: 0;
    display: grid;
    grid-template:
      "one two"
      "one three"
      "one four";
    grid-template-rows: 165px 135px 153px;
  }
}

.demonstration__wrapper:hover {
  box-sizing: border-box;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.demonstration__wrapper:active {
  box-sizing: border-box;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.demonstration__video {
  position: relative;
  background-image: url("../img/catalog/video-bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 260px;
  height: 150px;

  @media (max-width: 767px) {
    order: 2;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/video-bg-mobile2x.png");
    background-size: 320px auto;
    background-position: center;
  }

  @media (min-width: 768px) {
    background-image: url("../img/catalog/video-bg-table.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 668px;
    height: 455px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-bg-table2x.png");
      background-size: 100% 100%;
      background-position: center;
    }
  }

  @media (min-width: 1150px) {
    grid-area: one;
    width: 682.65px;
  }
}

.demonstration__button-play {
  border: none;
  background: none;
  background-image: url("../img/catalog/play.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100.6px;
  height: 76.8px;
  top: 132px;
  left: 77px;
  z-index: 99;

  @media (min-width: 768px) {
    top: 187px;
    left: 281px;
  }

  @media (min-width: 1150px) {
    top: 189px;
    left: 291px;
  }
}

.demonstration__button-play:hover {
  transform: scale(1.2);
}

.demonstration__button-play:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.demonstration__inner {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding-top: 7px;
  padding-bottom: 9px;
  width: 220px;
  margin: 0 auto;
  margin-left: 34px;

  @media (max-width: 767px) {
    order: 1;
  }

  @media (min-width: 768px) {
    width: 500px;
    padding: 0;
    padding-left: 7px;
    padding-top: 19px;
    justify-content: flex-start;
  }

  @media (min-width: 1150px) {
    width: 180px;
    padding: 0;
    padding-top: 48px;
    margin: 0;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: two;
  }
}

.demonstration__title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding-left: 30px;
  color: $headlines-basic-color;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    padding: 0;
    margin-top: 27px;
  }
}

.demonstration__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: 200px;
  margin: auto;
  padding-top: 35px;
  padding-left: 7px;
  color: $text-basic-color;

  @media (max-width: 767px) {
    order: 3;
  }

  @media (min-width: 768px) {
    order: 0;
    padding-top: 0;
    width: 592px;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  @media (min-width: 1150px) {
    width: 253px;
    padding: 0;
    margin: 0 auto;
    grid-area: three;
    margin-left: 44px;
  }
}

.demonstration__button {
  text-align: center;
  margin: auto;
  margin-top: 41px;
  width: 193px;

  @media (max-width: 767px) {
    order: 4;
  }

  @media (min-width: 768px) {
    text-align: center;
    margin: auto;
    margin-top: -1px;
    width: 88%;
    font-size: 17px;
    line-height: 16px;
  }

  @media (min-width: 1150px) {
    width: 229px;
    padding: 0;
    margin: 0 auto;
    grid-area: four;
    margin-top: 43px;
    margin-right: 57px;
  }
}
