.main-nav {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  display: grid;
  position: relative;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 59px;
    padding-top: 0;
    position: relative;
    margin-bottom: -62px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 427px 236px 1fr;
    max-width: 1150px;
    margin: auto;
    margin-bottom: -62px;
  }
}

.main-nav__toggle-active {
  border: none;
  background-image: url("../img/header/menu-close.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: $button-bg-color;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 29px;
  right: 30px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__toggle-close {
  border: none;
  background-image: url("../img/header/burger.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: $button-bg-color;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 32px;
  right: 30px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__logo {
  text-align: center;
  padding-bottom: 22px;

  @media (min-width: 768px) {
    text-align: left;
    padding-top: 28px;
    padding-left: 18px;
  }

  @media (min-width: 1150px) {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 2;
    padding-left: 0;
  }
}

.main-nav__logo-img {
  @media (min-width: 1150px) {
    width: 148px;
    height: 73px;
  }
}

.main-nav__list {
  // убрал меню
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1150px) {
    align-content: center;
    justify-content: space-around;
  }
}

.main-nav__table-grid {
  @media (min-width: 768px) {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  @media (min-width: 1150px) {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.main-nav__mobail {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1150px) {
    display: flex;
    justify-content: space-between;
    width: 330px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 23px;
    font-size: 15px;
    line-height: 24px;
  }
}

.main-nav__item {
  padding-top: 28px;
  padding-bottom: 26px;
  position: relative;

  @media (min-width: 768px) {
    padding-right: 20px;

    &--decor {
      &::before {
        position: absolute;
        transform: rotate(90deg);
        content: "";
        display: block;
        top: 23px;
        right: 104px;
        width: 100px;
        height: 23px;
        box-shadow: 0 2px 0;
        color: #ececee;
      }

      &::after {
        position: absolute;
        transform: rotate(90deg);
        content: "";
        display: block;
        top: 23px;
        right: 21px;
        width: 100px;
        height: 23px;
        box-shadow: 0 2px 0;
        color: #ececee;
      }
    }
  }

  @media (max-width: 767px) {
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -67px;
      width: 343px;
      height: 2px;
      box-shadow: 0 1px 0;
      color: #ececee;
    }

    &--border {
      &::after {
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        right: -67px;
        width: 343px;
        height: 2px;
        box-shadow: 0 1px 0;
        color: #ececee;
      }
    }
  }
}

.main-nav__item-d {
  @media (min-width: 1150px) {
    margin: 0 auto;
    padding: 0;
    margin-left: 0;
    margin-top: 26px;
  }
}


.main-nav__item-table {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
    line-height: 24px;
    padding-right: 31px;

    &--border {
      &::before {
        position: absolute;
        transform: rotate(90deg);
        content: "";
        display: block;
        top: 16px;
        right: 154px;
        width: 100px;
        height: 35px;
        box-shadow: 0 2px 0;
        color: #ececee;
      }
    }
  }
}

.main-nav__item-table:nth-child(1) {
  @media (min-width: 768px) {
    padding-right: 17px;
    padding-left: 20px;
  }
}


.main-nav__table {
  @media (min-width: 768px) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: flex-end;
  }

  @media (min-width: 1150px) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.main-nav__link {
  color: $subtitle-basic-color;
  position: relative;
}

.main-nav__icon {
  position: absolute;
  top: 0;
  left: -30px;

  @media (min-width: 768px) {
    top: 0;
    left: -52px;
    width: 21px;
    height: 18px;
  }
}

.main-nav__search {
  @media (min-width: 768px) {
    position: relative;
    top: 2px;
    left: -95px;
    width: 18px;
    height: 18px;
  }
}

.main-nav__delivery {
  color: $text-basic-color;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: right;
    padding-right: 20px;
  }

  @media (min-width: 1150px) {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.main-nav__subtitle {
  @media (min-width: 768px) {
    display: none;
  }
}
