.main-footer {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $background-footer-color;
}

.main-footer__inner {
  margin: auto;
  max-width: 1150px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: block;
    padding-left: 10px;
  }
}

.main-footer__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 147px;
  position: relative;

  @media (max-width: 767px) {
    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      right: 0;
      left: -60px;
      width: 260px;
      height: 2px;
      box-shadow: 0 1px 0;
      color: #e5e5e5;
    }
  }

  @media (min-width: 768px) {
    border: none;
    padding: 0;
  }
}

.main-footer__academy-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 0;
    padding-right: 20px;
  }
}

.main-footer__academy-logo__text {
  padding-right: 27px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $headlines-basic-color;

  @media (min-width: 768px) {
    border: none;
  }
}
