.modal {
  // display: flex;
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.modal__wrap {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.modal__inner {
  padding: 28px 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 320px;
  height: 336px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: 768px) {
    width: 566px;
    height: 336px;
  }
}

.modal__title {
  width: 162px;
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    width: 381px;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  margin: 0 auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  padding-bottom: 21px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
  }
}

.modal__btn-size {
  margin-bottom: 31px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 18px 22px;
  outline: none;
  background: none;
  border: 2px solid rgba(68, 68, 68, 0.1);
  box-sizing: border-box;

  &--active {
    border: 2px solid $decorative-basic-color;
  }

  @media (min-width: 768px) {
    padding: 18px 37px;
  }
}

.modal__btn {
  width: 260px;
  padding: 18px 67px;
  border: none;
  outline: none;
  background: $decorative-basic-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-content: center;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 18px 112px;
    width: 350px;
  }
}

.modal__box {
  padding: 0;
  width: 260px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding-bottom: 31px;

  @media (min-width: 768px) {
    width: 350px;
  }
}

.modal__custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal__custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.modal__custom-checkbox > span::before {
  content: "S";
  width: 82px;
  height: 52px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 2px solid rgba(68, 68, 68, 0.1);
  box-sizing: border-box;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;

  @media (min-width: 768px) {
    width: 112px;
    height: 52px;
  }
}

.modal__custom-checkbox--m > span::before {
  content: "m";
}

.modal__custom-checkbox--l > span::before {
  content: "l";
}

.modal__custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.modal__custom-checkbox > input:not(:disabled):active + span::before {
  border-color: rgba(98, 209, 186, 1);
}

.modal__custom-checkbox > input:checked + span::before {
  border-color: rgba(98, 209, 186, 1);
}
