
.shop-item__wrapper {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.shop-item__title {
  color: $subtitle-basic-color;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
}

.shop-item__strong {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $text-secondary-color;
}

.shop-item__card {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $text-basic-color;
}

.shop-item__img {
  width: 260px;
  height: 315px;
  background-color: $img-none-color;
}

.shop-item__table {
  margin: 0 auto;
  width: 260px;
  padding-bottom: 28px;
}

.shop-item__tab {
  padding-bottom: 10px;
  position: relative;

  &::after {
    position: absolute;
    margin: 0 auto;
    content: "";
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 1px;
    box-shadow: 0 1px 0;
    color: #ececee;
  }
}

.shop-item__holder {
  text-align: center;
}
