.slider__toggle {
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 26px;
  background-color: $button-bg-color;
  border: solid 1px #ececee;
  padding: 31px 50px 13px 79px;

  &--left {
    background-image: url("../img/reviews/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }

  &--right {
    background-image: url("../img/reviews/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
}
