.slider__list {
  @media (min-width: 768px) {
    padding-top: 22px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    padding-top: 16px;
  }
}

.slider__toggle {
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 26px;
  background-color: $button-bg-color;
  border: solid 1px #ececee;
  padding: 33px 48px 10px 79px;

  &--left {
    background-image: url("../img/reviews/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }

  &--right {
    background-image: url("../img/reviews/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    margin-left: 43px;
    margin-right: -6px;
  }
}

.slider__toggle:hover {
  opacity: 0.6;
}

.slider__toggle:active {
  opacity: 0.3;
}
