

// color text
$headlines-basic-color: #000000;
$subtitle-basic-color: #000000;
$text-basic-color: #444444;
$text-secondary-color: #63d1bb;
$text-rare-color: #ffffff;
$price-basic-color: #000000;
/* decorative color */
$decorative-basic-color: #63d1bb;
$decorative-rare-color: #149080;
$decorative-border-color: #62d1ba;
$button-color: #444444;
$button-bg-color: #ffffff;
/* background color */
$background-basic-color: #ffffff;
$background-promo-color: #f9f9f9;
$img-none-color: #444444;
$background-rare-color: #63d1bb;
$background-rare-two-color: #56c3b2;
$background-footer-color: #f1f1f1;
