
.promo {
  background-color: $background-promo-color;
}
.promo__wrapper {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.promo__bg-img {
  background-image: url("../img/promo/hero-mobile@2x 1.png");
  background-repeat: no-repeat;
}

.promo__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $headlines-basic-color;
}

.promo__button {
  background-color: $background-rare-color;
  color: $text-rare-color;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  &--darker {
    background-color: $background-rare-two-color;
  }
}



